body {
  overflow-x: hidden;
  max-width: 100%;
}

/*navbar section start*/

.navItems {
  color: orange !important;
}
.navbar-container {
  min-height: 10vh;
  width: 100%;
  background-color: #1d222a !important;
  position: fixed !important;
  z-index: 1000 !important;
  left: 0;
  top: 0;
}

/*navbar section end*/

/*section 1 start*/

.section1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/image9.webp");
  min-height: 80vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section1-header {
  color: white;
  font-size: 60px;
  font-weight: 400;
}

/*section 1 end*/

/*section 2 start*/

.section2 {
  max-width: 100%;
  min-height: 100vh;
  padding-top: 50px;
  background-color: rgb(50, 48, 48);
  border: none;
  margin: 0;
}

.show-fade-in2 {
  opacity: 0;
  animation: fadeInAnimation2 2s ease-in-out forwards;
}

@keyframes fadeInAnimation2 {
  from {
    opacity: 0;
    transform: translateX(-50%);
    filter: blur(5px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}
.show-fade-in3 {
  opacity: 0;
  animation: fadeInAnimation3 2s ease-in-out forwards;
}

@keyframes fadeInAnimation3 {
  from {
    opacity: 0;
    transform: translatex(50%);
    filter: blur(5px);
  }

  to {
    opacity: 1;
    transform: translatex(0);
    filter: blur(0);
  }
}

.iconStyle2 {
  font-size: 30px;
  color: #f36100;
  display: inline-block;
  min-height: 65px;
  width: 65px;
  background: #363636;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
  margin-right: 0;
  padding-top: 15px;
}

.formStyle {
  width: 100%;
  font-size: 25px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*border: 3px gray solid;*/
  outline: none;
  margin: auto;
  box-sizing: border-box;
  padding: 40px;
  background-color: none;

  .input {
    color: black;
    font-size: 17px;
    border: 1px solid #ddd;
    background-color: gray;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .input:focus {
    box-shadow: 0 0 0 0.1rem orange;
    outline: none;
    border: 1px solid orange;
  }

  .textarea {
    resize: none;
    color: #7a7a7a;
    font-size: 17px;
    border: 1px solid #ddd;
    background-color: gray;
    width: 100%;
    height: 135px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
  }

  .textarea:focus {
    box-shadow: 0 0 0 0.1rem orange;
    border: 1px solid orange;
  }

  .input:focus {
    box-shadow: 0 0 0 0.1rem orange;
  }

  .button {
    display: inline-block;
    font-size: 15px;
    padding: 11px 17px;
    background-color: orange;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.3s;
    border: none;
    outline: none;
    margin-top: 8px;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    font-weight: 600;
    color: white;
  }

  button:hover {
    background-color: rgba(255, 166, 0, 0.772);
  }
}

.display-inline-block {
  display: inline-block;
}
.display-inline-block2 {
  display: inline-block;
}

/*section 2 end*/

/* section 3 start*/
.section3 {
  max-width: 100%;
  min-height: 50vh;
  margin: auto;
  background-color: rgb(50, 48, 48);
  border: none;
  padding: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/image10.webp");
}

.map-style {
  width: 100%;
  height: 400px;
}

.map-style {
  width: 100%;
  height: 400px;
}

.show-fade-in4 {
  opacity: 0;
  animation: fadeInAnimation4 2s ease-in-out forwards;
}

@keyframes fadeInAnimation4 {
  from {
    opacity: 0;
    transform: translatey(50%);
    filter: blur(5px);
  }

  to {
    opacity: 1;
    transform: translatey(0);
    filter: blur(0);
  }
}
/*section 3 end*/

/*section 4 start*/

.section4 {
  max-width: 100%;
  min-height: 30vh;
  background-color: orange;
  color: white;
  padding: 10px;
  border: none;
}

.show-fade-in5 {
  opacity: 0;
  animation: fadeInAnimation5 2s ease-in-out forwards;
}

@keyframes fadeInAnimation5 {
  from {
    opacity: 0;
    transform: translatey(50%);
    filter: blur(5px);
  }

  to {
    opacity: 1;
    transform: translatey(0);
    filter: blur(0);
  }
}

/*section 4 end*/

/* footer section start*/

.footer-container {
  background-color: #2a313c;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 5px;
}

.iconStyle {
  font-size: 15px;
}
.footer-items {
  font-size: 20px;
}
.cr-style {
  font-size: 20px;
}
/*footer section end*/

/*sm style*/

@media screen and (max-width: 600px) {
  /*nav section start*/
  /* nav section end*/
  .section4 {
    background-position: bottom right;
  }

  /*section2 start */
  .input {
    width: 80vw !important;
  }
  .textarea {
    width: 80vw !important;
  }
  .button {
    width: 60vw !important;
    font-size: 7vw !important;
  }

  .p-style-s2 {
    font-size: 15px !important ;
  }
  .p2-style-s2 {
    font-size: 15px !important ;
    padding-bottom: 10px !important;
  }
  .p2-pad-s2 {
    padding-bottom: 30px !important;
  }
  .p3-style-s2 {
    font-size: 15px !important ;
  }

  .iconStyle2 {
    font-size: 30px;
    color: #f36100;
    display: block;
    min-height: 65px;
    width: 65px;
    background: #363636;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    line-height: 0px;
    padding-top: 15px;
    text-align: center;
  }
  .display-inline-block {
    display: block;
  }

  .info-container-s2 {
    text-align: center;
  }
  /*section2 end*/

  /*section3 start*/
  .section3 {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  /*section3 end*/

  /*section4 start*/
  .section4 {
    display: none;
  }
  /*section4 end*/

  /*footer start*/
  .footer-icon-style {
    font-size: 6vw;
  }
  .footer-items {
    font-size: 4vw !important;
  }
  .cr-style {
    font-size: 3vw !important;
  }
  /*footer end*/

  /*animation style start*/

  .show-fade-in2 {
    opacity: 1;
    animation: none;
  }
  .show-fade-in3 {
    opacity: 1;
    animation: none;
  }
  .show-fade-in4 {
    opacity: 1;
    animation: none;
  }
  .show-fade-in5 {
    opacity: 1;
    animation: none;
  }

  /*animation style end*/
}
